

<h2 class="title">¡ZINES!</h2>

<ul class=lista-productos>
    <li *ngFor="let p of productos">
       
         <h2 class=titulo>{{p.titulo}}</h2>
         <a href='/zineuno'><img class=img-zine src={{p.img}} alt="zine"></a>
         <h4 class=descripcion>{{p.descripcion}}</h4>
        
    </li>
</ul>


<ul class=lista-productos>
    <li *ngFor="let p of productdos">
       
         <h2 class=titulo>{{p.titulo}}</h2>
         <a href='/zineuno'><img class=img-zine src={{p.img}}></a>
         <h4 class=descripcion>{{p.descripcion}}</h4>
        
    </li>
</ul>