
.title {
    padding-left: 150px;
}

.lista-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 150px;
    padding-right: 150px;
    
}


.img-zine {
    max-width: 100%;
    margin: auto;
    }

.titulo {
    padding-top: 15px;
}

.descripcion {
    margin-bottom: 15px;
}