<div class=pie-superior>
 <div class="newsletter">
    <div class="newsletter-info">
        <h3>¡Suscribite a nuestro Newsletter!</h3>
    </div>
    <form action="suscripcion.js">
        <input type="email">
        <input type="submit" value="Suscribite">
    </form>
</div><!-- Cierra .newsletter -->

<ul class=nav-lista_item>
    <li><a routerLink='/'>FACEBOOK</a></li>
    <li><a routerLink='/'>INSTAGRAM</a></li>
    <li><a routerLink='/'>CONTACTO</a></li>
    <li><a routerLink='/'>FAQ</a></li>
</ul> 
</div>

<div class="pie-inferior">
    <p>Diseñado por <a routerLink='/'>Annie Gonzalez</a></p>
</div>