

 


<form class=buscador action="buscar.js">
                <input type="text" placeholder="Buscar...">
                <input type="submit" value="Buscar"> 
</form>
      


<ul class=nav-lista_item>
        <li><a routerLink=''>HOME</a></li>
        <li><a routerLink='/'>ARTICULOS</a></li>
        <li><a routerLink='/'>BLOG</a></li>
        <li><a routerLink='/nosotros'>NOSOTROS</a></li>
        <li><a routerLink='/'>REGISTRATE</a></li>
        <li><a routerLink='/'>INICIAR SESION</a></li>
</ul>