

.notfound {
    padding: 20px;
    align-items: center;
    &-texto {
        padding: 10px;
        text-align: center;
    }
    &-imagen {
        max-width: 100%;
        display: block;
        margin: auto;
    }}
